<section id="introduction">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <figure>
                        <img id="ppic" class="img img-circle img-responsive" src="{{figureSource}}" width="150px" height="150px">
                    </figure>
                    <h2>public void <span class="color-swatch-orange">{{title}}</span><span class="color-swatch-bluegreen">&#40;&#41;</span> &#123;</h2>
                    <p class="color-swatch-darkgrey">
                        {{content}}
                    </p>
                    <h2>&#125;</h2>
                </article>
            </div>
        </div>
    </div>
</section>