<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h1 class="superheader">/** Need help? **/</h1>
                        <h2>public void <span class="color-swatch-orange">{{title}}</span><span class="color-swatch-bluegreen">&#40;&#41;</span>                            &#123;</h2>
                    </header>
                    <div class="content">
                        <p>{{content}}</p>
                        <div class="row">
                            <div class="btn-group btn-group-lg" role="group">
                                <a href="mailto:{{email}}" class="btn btn-md btn-default" role="button"><i class="fa fa-envelope"></i></a>
                                <a href="https://twitter.com/yev" target="_blank" class="btn btn-default btn-md" role="button"><i class="fa fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                    <h2>&#125;</h2>
                </article>
            </div>
        </div>
    </div>
</section>