body{
	background: #DFDFDF url('../images/bg.png') repeat-x fixed center;
	margin: 0px auto;
	width: 100%;
}

.color-swatch-bluegreen{
	color: #72BAAC;
}

.color-swatch-darkgrey{
	color: #5A5A5A;
}

.color-swatch-orange{
	color: #EE7546;
}

h1.superheader{
    font-weight: 400;
    font-size: 3.8em;
    margin-top: 5%;
    margin-bottom: 5%; 
}