<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header>
                    <h1 class="superheader">/** getProjects(); **/</h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <a routerLink="/projects/workprojects" >
                <div class="thumbnail">
                    <img src="../../../public/images/workprojects.png" alt="My Work Projects">
                    <div class="caption">
                        <h3><span class="color-swatch-orange">getWorkProjects</span><span class="color-swatch-bluegreen">&#40;&#41;</span>;</h3>
                        <p>My current industry and freelance projects.</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a routerLink="/projects/miscprojects" >
                <div class="thumbnail">
                    <img src="../../../public/images/miscprojects.png" alt="My Miscellaneous Projects">
                    <div class="caption">
                        <h3><span class="color-swatch-orange">getMiscellaneousProjects</span><span class="color-swatch-bluegreen">&#40;&#41;</span>;</h3>
                        <p>Miscellaneous works, experiments and tools.</p>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a routerLink="/projects/uniprojects" >
                <div class="thumbnail">
                    <img src="../../../public/images/uniprojects.png" alt="My University Stuff">
                    <div class="caption">
                        <h3><span class="color-swatch-orange">getUniStuff</span><span class="color-swatch-bluegreen">&#40;&#41;</span>;</h3>
                        <p>Projects that were mostly done during my undergrad.</p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</section>