<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header>
                    <h1 class="superheader">/** getProjects(); **/</h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div *ngIf="displayProjectLinks" [@mainProjectsAnimation]="displayProjectLinks">
                <div class="col-sm-6 col-md-4" *ngFor="let project of projects">
                    <a (click)="toggleProjectButtons(project.name)" class="pLink">
                        <div class="thumbnail">
                            <img src="{{project.imgsrc}}" alt="{{project.alt}}">
                            <div class="caption">
                                <h3><span class="color-swatch-orange">{{project.name}}</span><span class="color-swatch-bluegreen">&#40;&#41;</span>;</h3>
                                <p>{{project.description}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!displayProjectLinks">
            <div class="row">
                <project-list [selected]="selectedProject" [projectItems]="projectItems"></project-list>
            </div>
            <div class="row">
                <h2><a (click)="toggleProjectButtons('hide')">return;</a></h2>
                <h2>&#125;</h2>
            </div>
        </div>
    </div>
</section>