h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0.2em;
}

p {
    margin: 0 0 10px;
    font-size: 1.2em;
    text-indent: 20px;
    font-family: 'Roboto Condensed';
}

h3 {
    font-size: 1.5em;
    font-family: Consolas, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-size: 2em;
    font-family: Consolas, Cochin, Georgia, Times, 'Times New Roman', serif
}

a.pLink {
    text-decoration: none !important;
    cursor: pointer;
}

h2 a {
    cursor: pointer;
}

.thumbnail:hover {
    border-color: #EE7456;
    border-width: 3px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.24), 0 0 2px rgba(0,0,0,0.12);
    transition: box-shadow .5s;
}

.thumbnail {
    margin-top: 2em;
}

.nav-return {
  position: fixed;
  z-index: 999;
}

.nav-return a {
  color: #72BAAC;
}

.nav-return a:hover {
  color: #EE7456;
}

#returnButton {
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    bottom: 22%;
    left: -0.5%;
}

#navReturnButton {
  left: 5%;
  bottom: 5%;
  font-size: 3em;
  border-radius: 50%;
  border: 2px #72BAAC solid;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  background-color: snow;
  box-shadow: 0 2px 2px rgba(0,0,0,0.24), 0 0 2px rgba(0,0,0,0.12);
  cursor: pointer;
}

#navReturnButton:hover {
  color: #EE7456;
  border: 3px #EE7456 solid;
  background-color: #EEE;
}

#navReturnButton a:hover {
  text-decoration: none !important;
  color: #EE7456;
}

.project-menu {
    margin-top: 5%;
}