p {
    text-indent: 50px;
}

h4 {
    color: red;
    font-family: Consolas, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-size: 1.2em;
    font-family: 'Roboto Condensed';
}

.coloritblue {
    color: dodgerblue;
    text-decoration: underline;
}

#dancingkitty {
    float:bottom;
    position:fixed;
    z-index: -1;
    margin-left: 60%;
    margin-top: 20%;
}