<section id="introduction">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <figure>
                        <img id="ppic" class="img img-circle img-responsive" src="resources/images/profile.png" width="150px" height="150px">
                    </figure>
                    <h2>public void <span class="color-swatch-orange">helloWorld</span><span class="color-swatch-bluegreen">&#40;&#41;</span> &#123;</h2>
                    <p class="color-swatch-darkgrey">
                        I am a software developer based in Quezon City, Philippines. I have a passion for creating software applications that help
                        make human lives a little bit easier.
                    </p>
                    <h2>&#125;</h2>
                </article>
            </div>
        </div>
    </div>
</section>
<section id="whatICanDo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h1 class="superheader">/** What I can do for you **/</h1>
                    </header>
                    <div id="manifesto" class="row">
                        <div class="col-md-4 col-md-offset-1">
                            <div class="figure-holder">
                                <figure>
                                    <img src="resources/images/profile.png" class="img img-circle img-responsive" width="200px" height="200px">
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="method">
                                <h2>manifesto&#40;&#41; &#123;</h2>
                                <p>
                                    Personally, I think that writing software applications is a discipline of both Science and Art mungled together in harmony.
                                    Creating software for people is more than that, It's a mixture of techninal excellence
                                    and two-way communication between the client and the engineer. I strive to give both.
                                </p>
                                <h2>&#125;</h2>
                            </div>
                        </div>
                    </div>
                    <!-- end of manifesto -->
                    <div id="madskills" class="row">
                        <div class="col-md-4 col-md-push-7">
                            <div class="figure-holder">
                                <figure>
                                    <img src="resources/images/profile.png" class="img img-circle img-responsive" width="200px" height="200px">
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-3">
                            <div class="method">
                                <h2>getMadSkillz&#40;&#41; &#123;</h2>
                            </div>
                            <p>
                                return [
                                <!-- use ngFor here-->
                                <span class="label label-default">Java</span>,
                                <span class="label label-primary">C</span>,
                                <span class="label label-success">C#</span>,
                                <span class="label label-info">Python</span>,
                                <span class="label label-warning">HTML/CSS</span>,
                                <span class="label label-danger">Javascript</span>,
                                <span class="label label-default">Typescript</span>,
                                <span class="label label-primary">Angular2</span>,
                                <span class="label label-success">OOP</span>,
                                <span class="label label-info">TDD</span>,
                                <span class="label label-success">SOLID</span>,
                                <span class="label label-warning">agile</span>,
                                <span class="label label-danger">Windows/Linux</span>,
                                <span class="label label-default">android</span>,
                                <span class="label label-primary">arduino</span>,
                                <span class="label label-success">raspberry-pi</span>,
                                <span class="label label-info">embedded-c</span>,
                                <span class="label label-warning">git/svn</span>,
                                <span class="label label-danger">Adobe Flash</span> ];
                            </p>
                            <h2>&#125;</h2>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>