<section-intro></section-intro>
<section id="whatICanDo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h1 class="superheader">/** What I can do for you **/</h1>
                    </header>
                    <section-manifesto></section-manifesto>
                    <!-- end of manifesto -->
                    <div id="madskills" class="row">
                        <div class="col-md-4 col-md-push-7">
                            <div class="figure-holder">
                                <figure>
                                    <img src="resources/images/profile.png" class="img img-circle img-responsive">
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-3">
                            <div class="method">
                                <h2>getMadSkillz&#40;&#41; &#123;</h2>
                            </div>
                            <p>
                                return [
                                <!-- use ngFor here-->
                                <span class="label label-default">Java</span>,
                                <span class="label label-primary">C</span>,
                                <span class="label label-success">C#</span>,
                                <span class="label label-info">Python</span>,
                                <span class="label label-warning">HTML/CSS</span>,
                                <span class="label label-danger">Javascript</span>,
                                <span class="label label-default">Typescript</span>,
                                <span class="label label-primary">Angular2</span>,
                                <span class="label label-success">OOP</span>,
                                <span class="label label-info">TDD</span>,
                                <span class="label label-success">SOLID</span>,
                                <span class="label label-warning">agile</span>,
                                <span class="label label-danger">Windows/Linux</span>,
                                <span class="label label-default">android</span>,
                                <span class="label label-primary">arduino</span>,
                                <span class="label label-success">raspberry-pi</span>,
                                <span class="label label-info">embedded-c</span>,
                                <span class="label label-warning">git/svn</span>,
                                <span class="label label-danger">Adobe Flash</span> ];
                            </p>
                            <h2>&#125;</h2>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>