<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <div class="figure-holder">
            <figure>
                <img src="../../../../../public/images/manifesto.png" class="img img-circle img-responsive">
            </figure>
        </div>
    </div>
    <div class="col-md-6">
        <div class="method">
            <h2><span class="color-swatch-orange">{{sectionName}}</span><span class="color-swatch-bluegreen">&#40;&#41;</span> &#123;</h2>
            <p>{{textContent}}</p>
            <h2>&#125;</h2>
        </div>
    </div>
</div>