// app global css
@import '~variables'

body
  background-color $grey-1

.font-courier
  font-family 'Courier New', 'Consolas', 'Roboto'

.font-condensed-roboto
  font-family 'Roboto Condensed', 'Roboto'

.font-consolas
  font-family 'Consolas', 'Times New Roman', Times, 'serif'

.methodify
  font-family 'Consolas', 'Times New Roman', Times, 'serif'
  color $secondary
  &::after
    content '()'
    color $amber-9