// app global css

.font-display
  font-family 'Amatic SC', cursive

.font-text
  font-family 'Open Sans Condensed', sans-serif

body, p
  font-family 'Open Sans Condensed', sans-serif

h1, h2, h3, h4, h5, h6
  font-family 'Amatic SC', cursive