// app global css
@import '~variables'

.border-bottom-right-cyan
  border-bottom 3px solid $cyan !important
  border-right 3px solid $cyan !important
.border-bottom-right-indigo
  border-bottom 3px solid $indigo !important
  border-right 3px solid $indigo !important
.border-bottom-right-teal
  border-bottom 3px solid $teal !important
  border-right 3px solid $teal !important
.border-bottom-right-pink
  border-bottom 3px solid $pink !important
  border-right 3px solid $pink !important
.border-bottom-right-purple
  border-bottom 3px solid $purple !important
  border-right 3px solid $purple !important
.border-bottom-right-deep-purple
  border-bottom 3px solid $deep-purple !important
  border-right 3px solid $deep-purple !important
.border-bottom-right-green
  border-bottom 3px solid $green !important
  border-right 3px solid $green !important
.border-bottom-right-orange
  border-bottom 3px solid $orange !important
  border-right 3px solid $orange !important
.border-bottom-right-deep-orange
  border-bottom 3px solid $deep-orange !important
  border-right 3px solid $deep-orange !important

.font-display
  font-family 'Amatic SC', cursive

.font-text
  font-family 'Open Sans Condensed', sans-serif

body, p
  font-family 'Open Sans Condensed', sans-serif

h1, h2, h3, h4, h5, h6
  font-family 'Amatic SC', cursive