#sidebar{
    position: fixed;
    top: 40%;
    z-index: 980;
    float: top;
    animation: sidebarAnimation 1s;
}

.navbutton {
  font-family: 'Roboto Condensed';
  color: #72BAAC;
  font-size: 18px;
  background: #f8f8f8;
  padding: 10px 10px 10px 10px;
  border: #72BAAC 2px solid;
  text-decoration: none;
  border-radius: 0;
  text-align: center;
  animation: buttonAnimation 1s;
}

.navbtn-sm {
  font-family: 'Roboto Condensed';
  color: #72BAAC !important;
  font-size: 18px;
  text-decoration: none;
  border-radius: 0;
  text-align: center;
  color: #72BAAC !important;
  border: #72BAAC 1px solid;
  margin: 1px;
}

.navbtn-sm:hover {
  color: #EE7456 !important;
  border: #EE7456 1px solid;
}
.navbutton:hover {
  background: #f8f8f8;
  color: #EE7456;
  border: #EE7456 2px solid;
  text-decoration: none;
}

@keyframes sidebarAnimation {
  0% {
    top: 0%;
  }
  100% {
    top: 40%;
  }
}

@keyframes buttonAnimation {
  0% {
    margin: 100px 0px;
  }
  100% {
    margin: 0px;
  }
}
