<div class="row">
    <div class="col-md-12">
        <h2>
            public void
            <span class="color-swatch-orange">
                {{selected}}
            </span>
            <span class="color-swatch-bluegreen">
                &#40;&#41;
            </span> &#123;
        </h2>
    </div>
    <div class="col-md-6 col-sm-1" *ngFor="let item of projectItems">
        <div class="project-item">
            <div class="project-item-header" [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
                <span class="award" *ngFor="let award of item.awards"><i class="fa fa-trophy" aria-hidden="true"></i>{{award}}</span>
            </div>
            <h3 class="color-swatch-orange">
                {{item.name}}
                <span class="label" [ngClass]="getStatusClass(item.status)">{{item.status}}</span>
                <a *ngIf="item.repo" href="{{item.repo}}" target="_blank" class="repo color-swatch-bluegreen"><i class="fa fa-github" aria-hidden="true"></i></a>
            </h3>
            <p>
                {{item.description}}
            </p>
            <div class="lang-group">
                <p class="lang" *ngFor="let lang of item.lang" [ngClass]="getClass(lang)">{{lang}}</p>
            </div>
        </div>
    </div>
</div>